{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <a href="{% url 'category_create' %}" class="btn">Додати жанр +</a>
    <hr>
    <ul>
        {% for cat in categories %}
            <li>
                <strong>{{ cat.name }}</strong>
                <a href="{% url 'category_detail' cat.id %}">[Переглянути]</a>
                <a href="{% url 'category_update' cat.id %}">[Редагувати]</a>
            </li>
        {% empty %}
            <p>Жанрів ще немає.</p>
        {% endfor %}
    </ul>
{% endblock %}